.grid-sizer,
.grid-item {
  width: 33.333%;
  padding: 8px;
}

.grid {
  /* This class is not used, but it's here for reference */
}

@media (max-width: 960px) {
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .grid-sizer,
  .grid-item {
    width: 100%;
  }
}
