/* Base styles for the grid - 4 columns on large screens */
.desktop-grid .grid-sizer,
.desktop-grid .grid-item {
  width: 20%;
  padding: 0px;
}

/* 3 columns on medium screens (md) */
@media (max-width: 1280px) {
  .desktop-grid .grid-sizer,
  .desktop-grid .grid-item {
    width: 20%;
  }
}

/* 2 columns on small screens (sm) */
@media (max-width: 960px) {
  .desktop-grid .grid-sizer,
  .desktop-grid .grid-item {
    width: 50%;
  }
}

/* 1 column on extra-small screens (xs) */
@media (max-width: 600px) {
  .desktop-grid .grid-sizer,
  .desktop-grid .grid-item {
    width: 100%;
  }
}

.swiper {
  padding: 10px 0;
}
